footer {
    background-color: #333;
    bottom: 0;
    font: bold 14px sans-serif;
    padding: 55px 50px;
}

footer a {
    color: rgba(217,211,199, .8);
}

footer p {
    color: #d6e0e6;
    padding: 16px 0;
    text-align: left;
}

.footer-left,
.footer-center,
.footer-right {
    margin-bottom: 40px;
}

.footer-left {
    margin-top: 15px;
}

.footer-left a {
    margin-right: 10px;
}

/* Footer links */
.footer-left a:hover {
    color: #d6e0e6;
    transition: all .3s;
}

/* Footer center */
.footer-center-elements {
    display: flex;
}

.footer-center-elements a {
    color: rgba(217,211,199, .8);
}

.footer-center svg {
    height: auto;
    margin-right: 20px;
    width: 30px;
}

/* Footer right */
.footer-right {
    margin-top: 25px;
}

.footer-right a {
    display: inline-block;
    margin-right: 25px;
    width: 30px;
}

svg.social-media {
    background-color: #474747;
    border-radius: 8px;
}

svg.social-media:hover {
    background-color: #707070;
    transition: all .3s;
}

svg.social-media.facebook {
    padding: 6px 8px;
}

svg.social-media.github {
    padding: 8px;
}

svg.social-media.instagram {
    padding: 6px 8px;
}

svg.social-media.twitter {
    padding: 8px;
}

@media screen and (min-width: 767px) {
    footer {
        font: bold 16px sans-serif;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */
    .footer-left {
        width: 40%;
    }

    /* Footer center */
    .footer-center {
        width: 35%;
    }

    /* Footer right */
    .footer-right {
        text-align: end;
        width: 20%;
    }
}